{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Monitor de recursos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'sysmonitor/styles/index.css' %}">
    </head>
    <body>
        <header>
            <h1>Monitor de recursos</h1>
        </header>
        <nav class="flex-nav">
            <a href="{% url 'index' %}" class="active">Inicio</a>
            <a href="{% url 'cpu_view' %}">CPU</a>
            <a href="{% url 'ram_view' %}">RAM</a>
            <a href="{% url 'drives_view' %}">Disco</a>
            <a href="{% url 'sys_view' %}">Info. del Sistema</a>
        </nav>
        <main>
            <div class="container">
                <div class="card" id="cpu">
                    <img src="https://www.svgrepo.com/show/529533/cpu.svg" alt="CPU" class="icon">
                    <h2>CPU</h2>
                    <p>Uso: {{ cpuUsage }}%</p>
                    <p>Nucleos Físicos: {{ physCores }}</p>
                    <p>Nucleos Lógicos: {{ logicalCores }}</p>
                </div>
                <div class="card" id="ram">
                    <img src="https://www.svgrepo.com/show/510479/ram.svg" alt="RAM" class="icon">
                    <h2>RAM</h2>
                    <p>Memoria Total: {{ memory }}GB</p>
                    <p>Memoria Disponible: {{ freeMem }}GB</p>
                    <p>Uso: {{ memUsage }}%</p>
                </div>
                <div class="card" id="drive">
                    <img src="https://www.svgrepo.com/show/509902/drive.svg" alt="Drive" class="icon">
                    <h2>Disco</h2>
                    <p>Almacenamiento Total: {{ totalStorage }}GB</p>
                    <p>Almacenamiento Disponible: {{ freeStorage }}GB</p>
                    <p>Uso: {{ driveUsage }}%</p>
                </div>
                <div class="card" id="os">
                    <img src="https://www.svgrepo.com/show/506814/computer.svg" alt="OS" class="icon">
                    <h2>Info. del Sistema</h2>
                    <p>SO: {{ osName }}</p>
                    <p>Versión del SO: {{ osVersion }}</p>
                    <p>Arquitectura: {{ arch }}</p>
                </div>
            </div>
        </main>
        <footer>
            <p>Alex Eduardo Molina Garcia - 202410130195</p>
        </footer>
        <script src="{% static 'sysmonitor/scripts/index.js' %}" async defer></script>
    </body>
</html>